#ylogo, #redditlogo {
  width:18px;
  height:18px; 
}

#avclogo {
  
}

html {
  height:100%;
      }

body {
  height:100%;
      }



#vert {
  vertical-align: 4px;
      }

b {
  font-family: Verdana;
  font-size: 10pt;
  color: #222222;
  line-height: 9pt;
  }

a { 
  font-family: Verdana;
  font-size: 10pt;
  color: #222222;
  line-height: 9pt;
  text-decoration: none;
  float:center;
  vertical-align: 4px;
  }

/*container*/

#mini_header_container {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    position: relative;
    font-family: Verdana;
}

#bottom_container {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    position: relative;
    font-family: Verdana;
    overflow:scroll;
}

#container {
    height:60%;
    position: relative;
}

#bottom_header_container {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    position: relative;
    font-family: Verdana;
    background-color: #EBF1F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#EBF1F9), to(#C9CED5));
    background: -moz-linear-gradient(top, #EBF1F9, #C9CED5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EBF1F9, endColorstr=#C9CED5)";
    background: #EBF1F9 !IE7;
}

/*end container*/

#r_technology_header {
    font-family: Verdana;
    float:left;
    width: 50%;
    background-color: #cee3f8;
    height:25px;
}

#hacker_header {
    background-image: url('y18.gif') no-repeat;
    font-family: Verdana;
    float:right;
    width: 50%;
    background-color: rgb(255, 102, 0);
    height:25px;
}

#reddit{
    width: 50%;
    height: 100%;
    float:left;
    overflow:scroll;
}
#hacker {
    float: right;
    height: 100%;
    width: 50%;
    overflow:scroll;
}

#info {
    text-align: center;
    line-height: 2em;
}

