#blog1 li a {
  font-family: Arial, Helvetica, sans-serif;
}

#reddit li a{
 color:blue;
}

#hacker {
font-family: Verdana;
font-size: 9px;
color: black;
background-color: rgb(246, 246, 239);
}

li {
  margin-bottom: 10px;
  font-size: 8px;
}

aside {
  font-size: 9px;
  color: #828282;
}

#mini_header_text_pic_container {
  width:100%;
  height:80%;
  position:relative;
}

#ylogo, #redditlogo {
  width:18px;
  height:18px;
  position:; 
}

#avclogo {
  width:34.6px;
  height:12.6px;
  top: 30%;
  left: 1%;
  position: absolute;
}

html {
  height:100%;
      }

body {
  margin:0 auto;
  height:100%;
  width:80%;
      }



#vert {
  vertical-align: 4px;
      }

b {
  font-family: Verdana;
  font-size: 10pt;
  color: #222222;
  line-height: 9pt;
  }

a { 
  font-family: Verdana;
  font-size: 9pt;
  line-height: 9pt;
  text-decoration: none;
  float:center;
  color:black;
  vertical-align: 4px;
  }

/*container*/

#mini_header_container {
    width: 100%;
    height: 25px;
    margin: 0 auto;
    position: relative;
    font-family: Verdana;
}

#bottom_container {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    position: relative;
    font-family: Verdana;
    overflow:scroll;
}

#container {
    height:60%;
    position: relative;
}

#bottom_header_container {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    position: relative;
    font-family: Verdana;
    background-color: #EBF1F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#EBF1F9), to(#C9CED5));
    background: -moz-linear-gradient(top, #EBF1F9, #C9CED5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EBF1F9, endColorstr=#C9CED5)";
    background: #EBF1F9 !IE7;
}

/*end container*/

#r_technology_header {
    font-family: Verdana;
    float:left;
    width: 50%;
    background-color: #cee3f8;
    height:25px;
}

#hacker_header {
    background-image: url('y18.gif') no-repeat;
    font-family: Verdana;
    float:right;
    width: 50%;
    background-color: rgb(255, 102, 0);
    height:25px;
}

#reddit{
    width: 50%;
    height: 100%;
    float:left;
    overflow:scroll;
    color: blue;
}
#hacker {
    float: right;
    height: 100%;
    width: 50%;
    overflow:scroll;
}

#info {
    text-align: center;
    line-height: 2em;
}

